header{
    background-color:rgb(142, 136, 136);
    padding: 50px;
}

#logo{
    border-radius: 12px;
}

.titulo-principal{
    font-family: sans-serif;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-10%,-50%);
    font-size: 40px;
    COLOR:#635b5b
    text-shadow:
                -1px -1px 0px #696969,
                -1px 4px 0px #fff,
                1px -1px 0px #fff,
                1px 0px 0px #fff;
                text-shadow: 0.1em 0.1em 0.2em black
}

nav{
    position: absolute;
    top:90px;
    right: 50px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0)
}

nav a{
    text-transform: uppercase;
    color: #7f8788;
    font-size: 22px;
    text-decoration: none;
    font-family: gagalin;
}

form label, form p{

    transform: translate(-50%, -30%);
    font-size: 31px;
    text-align: center;
    /*font-family: Barlow;*/
}
main{
    width: 940px;
    margin: auto;
}
form{
    margin: 40px 0;
    border: 1px solid #000000;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

input::placeholder{
    color:black;
    text-align: center;
}

.checkbox{
    margin:10px 0;
}
.inputBox{
    text-align: center;
    border-radius: 15px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(142, 136, 136);
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 4s all;
    cursor: pointer;
    border-bottom: #000000;
    border-radius: 15px;
}

.enviar:houver{
    background: darkgrey;
    transform: scale(1.2);
    cursor: pointer;
}

.copyright{
    color: ffffff;
    font-size: 13px;
    margin: 10px 0;
}

footer{
    background-color: rgb(142, 136, 136);
    text-align: center;
    padding: 12px 0;
}

#logo1{
    border-radius: 30px;
    width: 120px;
    height: 120px;
}

section{
    text-align: center;
}